<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PolvakServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PolvakServer.Properties.Settings.polvak_db2_cs" connectionString="server=192.168.0.10;User Id=admin;password=7210021;Persist Security Info=True;database=polvak_db2" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <PolvakServer.Properties.Settings>
            <setting name="device_in_network" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="save_to_db_record_time" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="save_p68_period" serializeAs="String">
                <value>10</value>
            </setting>
        </PolvakServer.Properties.Settings>
    </userSettings>
</configuration>
